services:
  backend:
    build: ./backend
    container_name: sms-backend
    ports:
      - "3001:3001"

  frontend:
    build: ./frontend
    container_name: sms-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

